# 제목1

## 제목2

### 설명

In [1]:
print('Hello World!')

Hello World!

위의 셀 추가는 a,삭제는 d 2번 누르면 됨!아래 셀 추가는 b,a와 m 누르면 괄호가 없어짐,markdown은 m

In [2]:
print('A')

A

markdown에서 code로 갈 경우 y클릭

In [9]:
value=input('값을 입력해주세요.')

값을 입력해주세요.2

In [10]:
value

'2'

In [12]:
x = input('입력해주세요 : ')
print(x)

입력해주세요 : taehyung
taehyung

In [13]:
x=10
x,y,z=10,20,30

In [14]:
print(x)
print(y)
print(z)

10
20
30

## 정수형

In [15]:
type(1.0)

float

In [16]:
type(1)

int

In [17]:
a=2
b=3
a,b

(2, 3)

In [19]:
a+b,a-b,a*b,a%b,a/b

(5, -1, 6, 2, 0.6666666666666666)

In [22]:
a**b,a%b,a//b

(8, 2, 0)

In [23]:
a+b*a,(a+b)*a

(8, 10)

## 연습문제1

In [25]:
a,b=7,3.0
c=a//b
d=a%b
e=a**b
print(c,d,e)

2.0 1.0 343.0

In [26]:
a,b=7,3.0
c=a*b
d=a/b
type(a),type(b)

(int, float)

In [27]:
c=int(b)
type(c)

int

In [29]:
c

3

In [30]:
d=float(a)
print(type(d))
print(d)

<class 'float'>
7.0

In [31]:
mike=80
judy=75
sera=100

In [32]:
mean=(mike+judy+sera)/3

In [33]:
mean #나눗셈은 실수로 자동적으로 변환됨.(형변환이 일어남.)

85.0

In [34]:
mean1=int(mean)
print(mean1)

85

# Bool(True,False)

In [35]:
a=True
b=False
a,b

(True, False)

In [36]:
type(a)

bool

## 비교연산자

In [41]:
a,b=1,2
print(a<=b)
print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

True
False
False
False
True

In [42]:
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [43]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [44]:
a=10
print(a>10 or a==10)

True

In [45]:
not a>10

True

In [59]:
v=int(input('v='))
jimin=int(input('jimin='))
suga=int(input('suga='))

v=64
jimin=78
suga=98

In [60]:
v>=65 and suga>=65 and jimin>=65

False

# NoneType

In [61]:
a=None
print(a)
type(a)

None

NoneType

In [63]:
quote1="안녕하세요 저는 채송화입니다."
print(type(quote1))
print(quote1)

<class 'str'>
안녕하세요 저는 채송화입니다.

In [64]:
quote2='안녕하세요 저는 채송화입니다.'
print(type(quote2))
print(quote2)

<class 'str'>
안녕하세요 저는 채송화입니다.

### multiline

In [65]:
quote1="""안녕하세요 
저는 채송화입니다"""

In [66]:
print(quote1)

안녕하세요
저는 채송화입니다

In [67]:
'과일'+'사과','과일'*3

('과일사과', '과일과일과일')

In [68]:
'과일'*10

'과일과일과일과일과일과일과일과일과일과일'

### Escape code

In [69]:
quote1="""안녕하세요 
저는 채송화입니다"""
print(quote1)

안녕하세요
저는 채송화입니다

In [70]:
quote1

'안녕하세요 \n저는 채송화입니다'

In [72]:
quote='안녕하세요. \n저는 채송화입니다.'
print(quote)

안녕하세요.
저는 채송화입니다.

In [74]:
quote2="\"채송화\"입니다."
print(quote2)

"채송화"입니다.

In [75]:
quote3='"채송화"입니다.'
print(quote3)

"채송화"입니다.

## indexing,slicing

In [79]:
quote="안녕하세요. 채송화입니다."
quote[0],quote[1],quote[-1],quote[-2]

('안', '녕', '.', '다')

In [81]:
quote[0:6],quote[3:12]

('안녕하세요.', '세요. 채송화입니')

In [82]:
quote[:12],quote[5:]

('안녕하세요. 채송화입니', '. 채송화입니다.')

In [88]:
quote[::2]

'안하요 송입다'

In [89]:
quote[::-1]

'.다니입화송채 .요세하녕안'

In [90]:
a='20190505chicken19000'
year=a[:4]
day=a[4:8]
menu=a[8:15]
money=a[15:]
print(year,day,menu,money)

2019 0505 chicken 19000

# 문자열 포맷팅

In [91]:
name='채송화'
major='math'

In [92]:
intro='안녕하세요. %s입니다. 전공은 %s입니다.'%(name,major)
intro

'안녕하세요. 채송화입니다. 전공은 math입니다.'

In [93]:
intro='안녕하세요. {}입니다. 전공은 {}입니다.'.format(name,major)
intro

'안녕하세요. 채송화입니다. 전공은 math입니다.'

In [94]:
intro='안녕하세요. {0}입니다. 전공은 {1}입니다.'.format(name,major)
intro

'안녕하세요. 채송화입니다. 전공은 math입니다.'

In [95]:
intro='안녕하세요. {1}입니다. 전공은 {0}입니다.'.format(name,major)
intro

'안녕하세요. math입니다. 전공은 채송화입니다.'

In [99]:
pi=3.14159
pi_def="pi는 %f입니다"%pi
pi_def

'pi는 3.141590입니다'

In [100]:
pi=3.14159
pi_def="pi는 %.2f입니다"%pi
pi_def

'pi는 3.14입니다'

In [101]:
f'pi는 {pi}입니다'

'pi는 3.14159입니다'

In [111]:
a='90:30:80'
math=int(a[:2])
english=int(a[3:5])
science=int(a[6:8])
average=(math+english+science)/3

print('평균 점수는 %.2f입니다.'%(average))

평균 점수는 66.67입니다.

# 문자열 함수

In [112]:
quote

'안녕하세요. 채송화입니다.'

In [113]:
len(quote),quote.index('.')

(14, 5)

In [114]:
'apple'.upper()

'APPLE'

In [115]:
'APPLE'.lower()

'apple'

In [116]:
quote.replace('.','?')

'안녕하세요? 채송화입니다?'

In [118]:
quote.count('.')

2

In [124]:
e="  안녕하세요 "   
e.strip()

'안녕하세요'

In [126]:
e.rstrip(),e.lstrip()

('  안녕하세요', '안녕하세요 ')

In [127]:
b=a.split(':')
b

['90', '30', '80']

In [130]:
fruit='Apple Banana'
fruit_list=fruit.split(' ')
fruit_list

['Apple', 'Banana']

In [131]:
'.'.join(fruit_list)

'Apple.Banana'

In [132]:
a="  90:30:80  "
b=a.strip()
b

'90:30:80'

In [139]:
math,english,science=b.split(':')
math=int(math)
english=int(english)
science=int(science)
average=(math+english+science)/3
print('평균 점수는 %f입니다.'%average)

평균 점수는 66.666667입니다.

In [141]:
math,english,science=b.split(':')
average=(int(math)+int(english)+int(science))/3
print('평균 점수는 %.3f입니다.'%average)

평균 점수는 66.667입니다.

In [145]:
score_list=b.split(':')
math,english,science=list(map(int,score_list))
type(math)

int

In [149]:
avg=(math+english+science)/3
print('평균 점수는 {:.2f}입니다.'.format(avg))

평균 점수는 66.67입니다.

# List

In [151]:
a=[1,3.14,'apple',['a','b','c']]
a

[1, 3.14, 'apple', ['a', 'b', 'c']]

In [152]:
len(a)

4

In [153]:
b=[]
type(b)

list

In [154]:
c=list()
c

[]

# range

In [156]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [157]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [158]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [161]:
list1=list(range(3,30,3))

## list's indexing and slicing

In [162]:
tuple1=tuple(list1)
tuple1

(3, 6, 9, 12, 15, 18, 21, 24, 27)

In [163]:
list1[0]

3

In [164]:
list1[1:5]

[6, 9, 12, 15]

In [165]:
list1[1:5:2]

[6, 12]

### list update

In [166]:
list1[0]='a'
list1

['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [167]:
list1[1:4]=['b','c','d']
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [170]:
del list1[-1]
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [171]:
'a' in list1

True

In [172]:
'e' in list1

False

In [173]:
'a' not in list1

False

In [175]:
list1+[10,20]

['a', 'b', 'c', 'd', 15, 18, 21, 24, 10, 20]

In [176]:
list1*2

['a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24]

In [177]:
len(list1)

8

### 리스트 함수

In [178]:
list1=list(range(5))
list1

[0, 1, 2, 3, 4]

In [179]:
list1.append('a')
list1

[0, 1, 2, 3, 4, 'a']

In [180]:
list1.extend(['b','c'])
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c']

In [181]:
list1.extend([1,2])
list1=list1+[1,2]
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c', 1, 2, 1, 2]

In [183]:
del list1[-2:]

In [184]:
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c', 1, 2]

In [185]:
list1.append([3,4])

In [186]:
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c', 1, 2, [3, 4]]

In [187]:
list1=list(range(5))
list1

[0, 1, 2, 3, 4]

In [188]:
a=list1.pop() #꺼내고 반환.맨 마지막에서 나오고 없어짐
print(a)

4

In [189]:
print(list1)

[0, 1, 2, 3]

In [190]:
b=list1.pop(1)
print(list1)
print(b)

[0, 2, 3]
1

In [192]:
list1.remove(2)
list1

[0, 3]

### insert

In [193]:
list1.insert(1,'a')
list1

[0, 'a', 3]

In [194]:
list1=[1,1,2,2,3,4]
list1

[1, 1, 2, 2, 3, 4]

In [196]:
list1.count(1),list1.count(3)

(2, 1)

In [197]:
list1.index(2)

2

In [198]:
list1.reverse()

In [199]:
list1

[4, 3, 2, 2, 1, 1]

In [200]:
list1.sort()

In [201]:
list1

[1, 1, 2, 2, 3, 4]

In [202]:
list1.sort(reverse=True)
list1

[4, 3, 2, 2, 1, 1]

In [203]:
tuple1=tuple(list1)
tuple1

(4, 3, 2, 2, 1, 1)

In [204]:
tuple1[1]

3

# List의 복사

In [205]:
list1=list(range(5))
list1

[0, 1, 2, 3, 4]

In [206]:
list2=list1
list2

[0, 1, 2, 3, 4]

In [207]:
list2.append(10)
list2[0]='a'
list2

['a', 1, 2, 3, 4, 10]

In [208]:
list1

['a', 1, 2, 3, 4, 10]

In [209]:
a=10
b=a
a,b

(10, 10)

In [210]:
b=20
a,b

(10, 20)

In [211]:
#리스트는 메모리 주소를 저장.주소값이 저장(0X00)
#(0X00,0X04,0X08,0X12...) 주소값이 똑같이 저장되어있어서 내부의 값이 변경되면
#다른 것도 변경된다.

In [212]:
list1=list(range(5))
list1

[0, 1, 2, 3, 4]

In [213]:
list2=list1.copy()
list2

[0, 1, 2, 3, 4]

In [214]:
list2.append(10)
list2[0]='a'
list2

['a', 1, 2, 3, 4, 10]

In [215]:
list1

[0, 1, 2, 3, 4]

In [216]:
list1=[[1,2,3],[4,5,6],[7,8,9]] #내부의 값도 리스트

In [217]:
list2=list1.copy()

In [220]:
list2[0][1]='a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [221]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

### deepcopy

In [222]:
list1=[[1,2,3],[4,5,6],[7,8,9]]

In [223]:
import copy
list2=copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [224]:
list2[0][0]='a'
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [225]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [227]:
list2[2][1]

8

# Dictionary

In [228]:
a={}
type(a)

dict

In [229]:
a=dict()
type(a)

dict

In [230]:
profile={'name':'채송화','city':'Seoul','height':'1xx'}

In [231]:
profile

{'name': '채송화', 'city': 'Seoul', 'height': '1xx'}

In [232]:
profile['name']

'채송화'

In [233]:
profile['city']

'Seoul'

In [238]:
profile=dict(
    name='채송화',
             city='Seoul',
             height='1xx',
friends=['yerin','sowon','yuju'])
profile

{'name': '채송화',
 'city': 'Seoul',
 'height': '1xx',
 'friends': ['yerin', 'sowon', 'yuju']}

In [239]:
'채송화' in profile

False

In [240]:
'name' in profile #키가 중점임!

True

# Dictionary's 함수

In [241]:
profile['name']='김태형'
profile

{'name': '김태형',
 'city': 'Seoul',
 'height': '1xx',
 'friends': ['yerin', 'sowon', 'yuju']}

In [242]:
profile['name']='채송화'
profile

{'name': '채송화',
 'city': 'Seoul',
 'height': '1xx',
 'friends': ['yerin', 'sowon', 'yuju']}

In [243]:
profile['city']='Busan'
profile

{'name': '채송화',
 'city': 'Busan',
 'height': '1xx',
 'friends': ['yerin', 'sowon', 'yuju']}

In [244]:
profile['math_score']=10
profile

{'name': '채송화',
 'city': 'Busan',
 'height': '1xx',
 'friends': ['yerin', 'sowon', 'yuju'],
 'math_score': 10}

In [245]:
profile.setdefault('englist_score',100) #값이 없으면 default값으로 해야함.
profile

{'name': '채송화',
 'city': 'Busan',
 'height': '1xx',
 'friends': ['yerin', 'sowon', 'yuju'],
 'math_score': 10,
 'englist_score': 100}

In [246]:
profile.setdefault('englist_score',50) #값이 안바뀜->키가 있기 때문에
profile

{'name': '채송화',
 'city': 'Busan',
 'height': '1xx',
 'friends': ['yerin', 'sowon', 'yuju'],
 'math_score': 10,
 'englist_score': 100}

In [247]:
profile.update({'math_score':50,'height':'secret'})
profile

{'name': '채송화',
 'city': 'Busan',
 'height': 'secret',
 'friends': ['yerin', 'sowon', 'yuju'],
 'math_score': 50,
 'englist_score': 100}

In [248]:
profile.get('comment') #default를 None으로 지정.

In [251]:
profile.get('comment',[])

[]

In [252]:
height=profile.pop('height')
print(height)
print(profile)

secret
{'name': '채송화', 'city': 'Busan', 'friends': ['yerin', 'sowon', 'yuju'], 'math_score': 50, 'englist_score': 100}

In [253]:
profile.keys()

dict_keys(['name', 'city', 'friends', 'math_score', 'englist_score'])

In [254]:
profile.values()

dict_values(['채송화', 'Busan', ['yerin', 'sowon', 'yuju'], 50, 100])

In [255]:
profile.items()

dict_items([('name', '채송화'), ('city', 'Busan'), ('friends', ['yerin', 'sowon', 'yuju']), ('math_score', 50), ('englist_score', 100)])

In [256]:
profile.clear()
profile

{}

# Set

In [257]:
set1={1,2,3,3,3,3,3}
set1

{1, 2, 3}

In [258]:
list1=[1,2,3,3,3,3]
list(set(list1))

[1, 2, 3]

In [259]:
set2={3,4,5}
set1={1,2,3}
set1,set2

({1, 2, 3}, {3, 4, 5})

# 집합 연산자 & 함수

In [260]:
set1|set2

{1, 2, 3, 4, 5}

In [261]:
set.union(set1,set2)

{1, 2, 3, 4, 5}

In [262]:
set1&set2

{3}

In [263]:
set.intersection(set1,set2)

{3}

In [264]:
set1-set2

{1, 2}

In [265]:
set.difference(set1,set2)

{1, 2}

In [266]:
set1^set2

{1, 2, 4, 5}

In [267]:
set.symmetric_difference(set1,set2)

{1, 2, 4, 5}

In [268]:
{1}<=set1

True

In [269]:
set1<=set2

False

In [271]:
set1.issubset(set2)

False

In [272]:
{1}.issubset(set1)

True

In [273]:
{1,2,3}.isdisjoint({3,4,5})

False

In [274]:
{1,2,3}.isdisjoint({4,5,6})

True

In [276]:
set1.add((4))

In [277]:
set1

{1, 2, 3, 4}

## Bool 형변환

In [279]:
bool(1),bool(0) #값이 있으면 true,나머지는 false

(True, False)

In [280]:
bool(0.0),bool(0.2)

(False, True)

In [281]:
bool('Hello')

True

In [284]:
bool(''),bool(' ')

(False, True)

In [285]:
bool([1]),bool([])

(True, False)

In [286]:
bool({}),bool({'name':'hi'})

(False, True)

# git updae

In [1]:
a=10
print(a)

10