In [1]:
import numpy as np

# 최소제곱법

In [2]:
x=[2,4,6,8]
y=[81,93,91,97]

mx=np.mean(x)
my=np.mean(y)

In [26]:
mx,my

(5.0, 90.5)

In [3]:
divisor=sum([(mx-i)**2 for i in x])
#newlist=[(mx-i)**2 for i in x]
#divisor=sum(newlist)

In [6]:
integer=sum([(j-my)*(i-mx) for i in x for j in y])

In [22]:
integer=sum([(j-my)*(i-mx) for i,j in zip(x,y)])
integer

46.0

In [23]:
a=integer/divisor

In [24]:
a

2.3

In [25]:
b=my-a*mx
b

79.0

In [31]:
def top(x,mx,y,my):
    d=0
    for i in range(len(x)):
        d+=(x[i]-mx)*(y[i]-my)
    return d
dividend=top(x,mx,y,my)

In [32]:
a=dividend/divisor
b=my-mx*a
a,b #기울기,절편

(2.3, 79.0)

In [27]:
a=[i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
b=list(i for i in range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
c=[i+5 for i in range(10) if i%2==1]
c

[6, 8, 10, 12, 14]

In [30]:
a=[i*j for j in range(2,10) for i in range(2,10)]
a

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

## 예제

In [50]:
period=[1,2,3,4,5,6,7,8]
size=[0.2,0.3,0.5,0.6,0.9,0.95,1.1,1.5]
maxsize=30

In [44]:
mx=np.mean(period)
my=np.mean(size)
print('평균:',mx,'평균:',my)

평균: 4.5 평균: 0.7562500000000001

In [35]:
integer=sum(list((x-mx)*(y-my) for x,y in zip(period,size)))
divisor=sum([(x-mx)**2 for x in period])

In [45]:
integer,divisor

(7.375, 42.0)

In [19]:
for i,j in zip(x,y):
    print(i,j)

2 81
4 93
6 91
8 97

In [36]:
a=integer/divisor
b=my-a*mx
a,b#기울기,절편

(0.17559523809523808, -0.03392857142857131)

In [51]:
def sizeOf(x):
    v=a*x+b
    return maxsize if v>maxsize else round(v,3)

In [43]:
b15=a*15+b
b22=a*22+b
b77=a*77+b
b200=a*200+b
for i in (b15,b22,b77,b200):
    if i>30:
        i=30
    print(round(i,3))

2.6
3.829
13.487
30

In [41]:
round((a*5+b-0.9),3)

-0.056

In [52]:
sizeOf(15),sizeOf(22),sizeOf(77),sizeOf(200)

(2.6, 3.829, 13.487, 30)

## mse

In [88]:
ab=[3,76]
data=[[2,81],[4,93],[6,91],[8,97]]
x=[i[0] for i in data]
y=[i[1] for i in data]
x,y

([2, 4, 6, 8], [81, 93, 91, 97])

In [94]:
total=0
for i in range(4):
    total+=((ab[0]*x[i]+ab[1])-y[i])**2
    print(x[i],y[i])
print(total)

2 81
4 93
6 91
8 97
44

In [95]:
np.sqrt(total/len(x))

3.3166247903554

In [96]:
def predict(x):
    return ab[0]*x+ab[1]

In [97]:
def rmse(p,a):
    return np.sqrt(((p-a)**2).mean())

In [98]:
def rmse_val(predict_result,y):
    return rmse(np.array(predict_result).np.array(y))

In [104]:
predict_result=[]
for i in range(len(x)):
    predict_result.append(predict(x[i]))
    print('공부한 시간=%.f,실제 점수=%.f,예측 점수 =%.f'%(x[i],y[i],predict(x[i])))

공부한 시간=2,실제 점수=81,예측 점수 =82
공부한 시간=4,실제 점수=93,예측 점수 =88
공부한 시간=6,실제 점수=91,예측 점수 =94
공부한 시간=8,실제 점수=97,예측 점수 =100